* {
    padding: 0;
    margin: 0;
}

.one {
    background-color: greenyellow;
    height: 200px;
    flex-basis: 100%;
    margin: 10px;
}

.two {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.two .two1 {
    background-color: aqua;
    height: 200px;
    flex-basis: 32%;
}

.three {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.three .three1 {
    background-color: black;
    flex-basis: 24%;
    height: 200px;
}

@media screen and (max-width:600px) {
    .two .two1 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .three .three1 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .two,
    .three {
        flex-wrap: wrap;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .two .two1 {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .three .three1 {
        flex-basis: 48%;
        margin-bottom: 10px;
    }

    .two,
    .three {
        flex-wrap: wrap;
    }
}