#countLabel{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    text-align: center;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(116, 116, 241);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color:  rgb(32, 32, 240);
}