*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E1E9F4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: hsla(0, 0%, 100%, 0.599);
    border-radius: 5px;
    max-width: 390px;
    height: auto;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}
.container h2{
    margin: 0px;
    background-color: #2D4263;
    padding: 25px 20px;
    font-weight: lighter;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tasks{
    padding: 20px;
}
.input{
    display: flex;
}
.tasks .input #taskInput{
    border: 1px solid #D1D9E6;
    padding: 5px 10px;
    margin: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 10px;
}
.tasks .input button{
    background-color: hsl(217, 38%, 28%);
    border: none;
    padding: 4px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.tasks .input button:hover{
    background-color: hsl(217, 38%, 35%);
}
.tasks .input button:active{
    background-color: hsl(217, 38%, 40%);
}
.tasks .input{
    margin-bottom: 15px;
}
.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.tasks .listContainer .task{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.1);
    background-color: white;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: hsla(0, 0%, 0%, 0.753);
}
.tasks .listContainer .task .box1{
    width: 18px;
    height: 18px;
    background-color: #3B97F2;
    border-radius: 3px;
}
.tasks .listContainer .task .box2{
    width: 18px;
    height: 18px;
    background-color: #59D173;
    border-radius: 3px;
}
.tasks .listContainer .task .box3{
    width: 18px;
    height: 18px;
    background-color: #FF8B3D;
    border-radius: 3px;
}
.tasks .listContainer .task .delete{
    border: none;
    background-color: white;
    color: #2D4263;
    font-size: 10px;
    cursor: pointer;
}
.tasks .listContainer .task .delete:hover{
    color: hsl(217, 38%, 45%);
}
.tasks .listContainer .task .delete:active{
    color: hsl(217, 38%, 70%);
}
.statusBar{
    text-align: center;
    border-top: 1px solid hsla(217, 63%, 84%, 0.788);
}
.statusBar p{
    margin-top: 10px;
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0.50);
}
