#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
button{
    padding: 10px 15px;
    font-size: 1.5rem;
    border: none;
    background-color: hsl(210, 100%, 50%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(210, 100%, 60%);
}
button:active{
    background-color: hsl(210, 100%, 70%);
}
input{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 150px;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
}