body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

#mySubmit{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(244, 246, 246);
    transition: background-color 0.25s;
}
#mySubmit:hover{
    background-color: rgb(9, 247, 247);
}